{% extends "app/layout.html" %}
{% load static %}
{% block content %}


<div class="jumbotron" style="background-image:url({% static 'app/img/bg1.jpg' %} ); position:center">
    <div class="container-fluid col-md-12">
        <div class="row ">
            <div class="col-md-12">
               <h4 class="text-center">Search</h4>
            </div>
            <div class="col-md-12">
                <div class="row">
                <div class="col-md-4">

                </div> 
                <div class="col-md-6 ">
                    <form action="{%url 'app:search'%}">
               <div class="input-group text-center ">
                  <input class="form-control" name="search"
                         placeholder="search"/>
                  <div class="input-group-append">
                    <button class="btn  btn-primary" type="submit" id="search-btn"><i class="fa fa-search btn-outline-default"></i></button>
                  </div>
                </div>
                        </form>
            </div> 
             <div class="col-md-4">

                </div> 
            </div>
            
            </div>
          

        </div>
    </div>
</div> <hr/>
            <section class="">
                <center>
                    <div class="row align-content-center">
                <div class="col-md-6">
                <select class="custom-select custom-select-sm">
                   {% for myshop in shop %}
                  <option value="{{myshop.sname}}">{{myshop.sname}}</option>
                     {%endfor%} 
                </select>
            </div> <div class="col-md-6">
                <select class="custom-select custom-select-sm">
                     {% for cat in category %}
                  <option value="{{cat.cname}}">{{cat.cname}}</option>
                     {%endfor%} 
                </select>
            </div>

            </div>
                </center>
           

            </section>                        
            <section>
                    <hr/>
                    <div class="container col-md-12">
                        {% if product is none %} 
                        <center>
                                <kbd>Search Products Waiting <i class="fa fas fa-spinner fa-pulse"></i></kbd>
                                <p>Try Searching these terms </p>
                                    {% for i in allproducts %}
                                    {{i}}
                                    {%endfor%} 
                        </center>
                               
        
                        {%else%}
                        <div class="card-deck">
                             {% for ptracker in ptracker %}
                              <div class="card">
                                <img class="card-img-top" src="{% static 'app/img/okzim.jpg' %}" style="height:50% " alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">{{ ptracker.pname}}</h5>
                                  <p class="card-text">
                                      {{ ptracker.sname }}
                                  </p>
                                  <h2> {{ ptracker.price }}</h2>
                                </div>
                                <div class="card-footer">
                                  <small class="text-muted">Last updated  Date:  {{ ptracker.date }}</small>
                                </div>
                              </div>
                             {%endfor%}    
                          </div>
                       {% endif %}
                    </div>
            </section>
<hr/>
<section>
    
   <div class="row">
       <div class="col-md-4">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Recent Products</th>
            </tr>
        </thead>
        <tbody>
             {% for pr in prod %}
            <tr>
                <td> {{pr.pname}}</td>
            </tr>
            
             {%endfor%} 
        </tbody>
    </table>
    </div>
       <div class="col-md-4">

    </div>
        <div class="col-md-4">
        <table class="table table-dark">
        <thead>
            <tr>
                <th>Top Rated Shops</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
             {% for myshop in shop %}
            <tr>
                <td> {{myshop.sname}}</td>
                <td>{{myshop.address}}</td>
            </tr>
            
             {%endfor%} 
        </tbody>
    </table>
    </div>
    
    
   </div>
                  
</section>


{% endblock %}
