{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-exit"></i></a></li>
       
    </ul>
</form>
{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}"><i class="fa fa-lock"></i></a></li>
    
</ul>

{% endif %}
